.monaco-workbench
  .part.statusbar
  > .items-container
  > .statusbar-item
  > .statusbar-item-label {
  background-color: #121212;
  color: #2ba198;
  font-weight: 600;
  border-radius: 4px;
  font-size: 15px;
  padding-left: 6px;
  padding-right: 6px;
}

.monaco-workbench
  .part.statusbar
  > .items-container
  > .statusbar-item.left.first-visible-item {
  padding-left: 0px !important;
}

a.action-label.codicon.codicon-toolbar-more {
  display: none !important;
}

.quick-input-widget {
  top: 30vh !important;
  border: 1px solid #e5e5e5 !important;
}

.statusbar-item-label[aria-label="No Problems"] {
  background-color: #21222c !important;
  color: #e5e5e5 !important;
}

.monaco-workbench .part.statusbar > .items-container > .statusbar-item {
  /* background-color: #21222c !important; */
}

[role="button"][aria-label="-- NORMAL --"] {
  margin-left: 0 !important;
  border-top-left-radius: 2px !important;
  border-bottom-left-radius: 2px !important;
  border-bottom-left-radius: 2px !important;
  background-color: #84fb !important;
}

[role="button"][aria-label="-- INSERT --"] {
  margin-left: 0 !important;
  border-top-left-radius: 2px !important;
  border-bottom-left-radius: 2px !important;
  background-color: #84f688 !important;
}

[role="button"][aria-label="-- VISUAL LINE --"] {
  margin-left: 0 !important;
  border-top-left-radius: 2px !important;
  border-bottom-left-radius: 2px !important;
  background-color: #f2f999 !important;
}

[role="button"][aria-label="-- VISUAL --"] {
  margin-left: 0 !important;
  border-top-left-radius: 2px !important;
  border-bottom-left-radius: 2px !important;
  background-color: #f2f999 !important;
}

[role="button"][aria-label="-- REPLACE --"] {
  margin-left: 0 !important;
  border-top-left-radius: 2px !important;
  border-bottom-left-radius: 2px !important;
  background-color: #eb625c !important;
}

[aria-label^="Ln"] {
  color: #e5e5e5 !important;
  background-color: #083642 !important;
}

.letterpress {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='480.000000pt' height='253.000000pt' viewBox='0 0 707.000000 353.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,353.000000) scale(0.100000,-0.100000)'%0Afill='%231a1c22' stroke='none'%3E%3Cpath d='M2430 2940 c-77 -26 -110 -65 -110 -131 0 -96 43 -133 191 -164 67%0A-14 109 -36 109 -56 0 -22 -35 -39 -82 -39 -42 0 -54 4 -77 28 -22 25 -36 30%0A-94 34 -54 5 -67 3 -67 -8 0 -25 28 -84 40 -84 6 0 9 -4 6 -8 -3 -5 14 -19 37%0A-32 34 -20 59 -24 147 -28 95 -3 109 -1 149 20 57 29 82 64 88 120 6 52 -14%0A99 -53 124 -13 9 -70 28 -126 43 -107 27 -133 46 -112 79 7 11 27 18 57 20 39%0A3 50 -1 68 -22 20 -23 31 -26 85 -26 35 0 65 4 68 8 3 5 -4 27 -15 49 -16 32%0A-31 46 -72 64 -69 30 -164 33 -237 9z'/%3E%3Cpath d='M3020 2946 c-76 -22 -97 -34 -123 -68 -35 -47 -47 -91 -47 -172 0%0A-92 14 -138 53 -183 47 -53 97 -73 191 -73 99 0 147 14 191 57 51 49 73 156%0A29 139 -9 -3 -36 -6 -60 -6 -37 0 -46 -4 -53 -22 -29 -76 -141 -91 -181 -25%0A-15 23 -20 50 -20 100 0 111 30 157 102 157 43 0 75 -22 93 -66 14 -33 15 -34%0A75 -34 70 0 77 8 60 70 -16 59 -66 103 -137 123 -70 20 -111 20 -173 3z'/%3E%3Cpath d='M3603 2946 c-124 -31 -177 -108 -174 -251 3 -122 40 -185 133 -225%0A45 -19 65 -22 149 -18 86 3 102 7 144 33 73 46 100 105 100 220 0 103 -21 156%0A-77 198 -65 48 -183 67 -275 43z m147 -111 c38 -20 49 -41 56 -112 8 -81 -11%0A-133 -56 -156 -44 -23 -103 -17 -136 14 -44 41 -55 142 -23 212 23 50 103 71%0A159 42z'/%3E%3Cpath d='M1727 2944 c-12 -12 -8 -29 20 -90 35 -78 90 -232 114 -319 11 -38%0A23 -73 27 -77 5 -5 48 -8 97 -6 l88 3 47 140 c26 77 66 188 88 248 l40 107%0A-78 0 c-91 0 -79 17 -140 -193 -24 -81 -47 -144 -51 -140 -3 5 -19 49 -33 98%0A-15 50 -38 122 -50 160 l-23 70 -69 3 c-39 1 -73 0 -77 -4z'/%3E%3Cpath d='M4062 2703 l3 -248 90 -3 c107 -4 234 12 275 33 78 40 115 124 108%0A240 -5 79 -34 144 -78 176 -45 33 -136 49 -272 49 l-128 0 2 -247z m277 122%0Ac36 -18 50 -58 47 -133 -4 -97 -44 -136 -130 -130 l-41 3 -3 124 c-1 69 0 131%0A2 138 7 18 90 17 125 -2z'/%3E%3Cpath d='M4642 2703 l3 -248 215 0 215 0 0 50 0 50 -140 5 -140 5 -3 34 c-2%0A18 1 38 6 43 6 6 59 11 118 11 l109 2 0 50 0 50 -115 5 -115 5 0 35 0 35 138%0A3 137 3 0 54 0 55 -215 0 -215 0 2 -247z'/%3E%3Cpath d='M3138 2038 c-39 -52 -53 -85 -92 -217 -41 -139 -85 -234 -119 -255%0A-12 -8 -61 -22 -109 -30 -48 -8 -109 -24 -135 -36 -58 -25 -186 -122 -213%0A-160 -35 -49 -31 -65 66 -268 30 -62 54 -119 54 -127 0 -7 -46 -40 -102 -71%0A-207 -115 -427 -256 -517 -332 -35 -29 -35 -29 -35 -113 0 -48 8 -108 17 -140%0A9 -30 23 -89 32 -130 8 -41 22 -91 32 -111 l16 -38 595 0 595 0 -7 97 c-6 87%0A-16 150 -32 208 -4 14 7 7 38 -23 24 -23 46 -42 50 -42 5 0 -5 60 -18 103 -3%0A10 25 -12 63 -48 37 -37 82 -78 99 -91 l32 -25 58 61 c31 33 59 58 62 56 4 -4%0A-19 -153 -34 -216 -4 -20 5 -14 51 34 l57 59 -7 -86 -7 -87 590 0 c496 0 591%0A2 601 14 11 13 26 75 66 278 8 36 17 108 20 160 l7 93 -36 46 c-20 25 -46 51%0A-59 58 -13 7 -36 39 -52 72 -34 73 -85 120 -160 148 -54 20 -59 21 -76 5 -11%0A-9 -19 -23 -19 -29 0 -20 -23 -24 -60 -10 -106 39 -147 58 -165 76 -18 17 -18%0A22 -5 42 95 148 170 318 170 384 0 49 -159 168 -274 206 -38 12 -70 27 -73 33%0A-2 5 12 51 31 102 44 116 54 162 33 162 -36 0 -108 -114 -122 -195 -10 -52%0A-21 -65 -55 -65 -63 0 -69 9 -128 185 -67 201 -83 239 -110 268 l-26 27 -282%0A0 -282 0 -24 -32z m283 -435 c0 -4 7 -18 15 -30 8 -13 10 -23 5 -23 -5 0 -12%0A6 -14 13 -4 9 -6 9 -6 -1 -1 -7 6 -15 14 -18 14 -6 13 -8 -2 -21 -10 -8 -12%0A-12 -5 -8 17 9 15 -3 -5 -23 -13 -13 -15 -13 -11 -2 3 8 1 27 -3 42 -4 16 -3%0A30 2 34 5 3 7 17 5 31 -3 14 -3 23 0 20 3 -3 6 -9 5 -14z m-46 -34 c11 -16 1%0A-19 -13 -3 -7 8 -8 14 -3 14 5 0 13 -5 16 -11z m23 -47 c2 -7 -3 -12 -12 -12%0A-9 0 -16 7 -16 16 0 17 22 14 28 -4z m82 -11 c0 -11 -4 -22 -9 -25 -10 -6 -8%0A-63 3 -73 10 -10 46 -11 40 -1 -4 5 -13 7 -23 3 -11 -4 -13 -3 -5 5 6 6 38 13%0A72 16 l62 6 11 -32 c7 -17 14 -28 18 -23 11 15 55 48 48 37 -4 -7 0 -14 8 -18%0A23 -8 19 -22 -22 -76 -31 -42 -39 -47 -45 -33 -5 14 -7 12 -7 -9 -1 -14 -4%0A-33 -7 -42 -11 -28 11 -17 29 14 10 16 26 34 37 40 18 10 18 7 -2 -63 -30%0A-109 -75 -200 -120 -243 -26 -25 -42 -35 -45 -26 -3 9 -13 6 -34 -9 -17 -12%0A-32 -20 -33 -18 -2 2 -9 14 -15 27 -16 30 -45 28 -57 -4 l-9 -26 -45 39 c-24%0A21 -46 36 -50 33 -3 -3 -10 16 -17 42 -11 46 -32 93 -33 73 0 -6 4 -26 10 -44%0A14 -50 5 -50 -20 1 -12 23 -28 50 -35 58 -17 20 -34 96 -28 120 4 17 8 18 20%0A9 19 -16 35 -47 44 -84 5 -25 7 -22 7 19 -1 30 -4 43 -9 35 -7 -11 -9 -11 -9%0A-1 0 7 -11 29 -24 50 -17 27 -23 49 -20 76 2 21 5 41 8 43 10 10 46 -9 47 -25%0A0 -14 2 -13 8 3 5 11 6 24 3 29 -8 14 21 26 67 26 37 0 42 -2 31 -15 -8 -10%0A-9 -15 -2 -15 6 0 15 7 20 16 8 14 10 14 25 -1 10 -9 18 -12 18 -6 1 6 2 17 3%0A24 1 7 14 11 32 11 28 -1 30 1 29 30 -2 17 -1 34 2 39 8 14 23 7 23 -12z%0Am-125 -11 c3 -5 1 -10 -4 -10 -6 0 -11 5 -11 10 0 6 2 10 4 10 3 0 8 -4 11%0A-10z m-71 -41 c-6 -11 -24 -2 -24 11 0 5 7 7 15 4 8 -4 12 -10 9 -15z m-67%0A-36 c-3 -3 -11 -2 -17 2 -9 6 -9 10 1 16 14 8 27 -7 16 -18z m453 2 c-7 -9%0A-15 -13 -18 -10 -3 2 1 11 8 20 7 9 15 13 18 10 3 -2 -1 -11 -8 -20z'/%3E%3Cpath d='M3405 1274 c-7 -47 3 -72 24 -60 15 10 13 67 -3 89 -12 16 -14 13%0A-21 -29z'/%3E%3Cpath d='M3475 1290 c3 -5 8 -10 11 -10 2 0 4 5 4 10 0 6 -5 10 -11 10 -5 0%0A-7 -4 -4 -10z'/%3E%3Cpath d='M3215 1281 c-3 -5 -1 -12 5 -16 5 -3 10 1 10 9 0 18 -6 21 -15 7z'/%3E%3Cpath d='M3336 1205 c-21 -12 -48 -34 -58 -48 l-20 -27 23 0 c13 0 51 7 86 16%0A60 15 66 15 128 -5 68 -22 95 -26 95 -13 0 13 -62 68 -96 86 -28 14 -33 14%0A-44 1 -16 -19 -39 -19 -59 -1 -14 12 -22 10 -55 -9z'/%3E%3Cpath d='M3622 1195 c0 -16 2 -22 5 -12 2 9 2 23 0 30 -3 6 -5 -1 -5 -18z'/%3E%3Cpath d='M3608 1120 c-3 -16 -1 -30 4 -30 4 0 8 14 8 30 0 17 -2 30 -4 30 -2%0A0 -6 -13 -8 -30z'/%3E%3Cpath d='M3320 1120 c-8 -5 -11 -12 -8 -16 10 -9 38 3 38 16 0 12 -10 13 -30%0A0z'/%3E%3Cpath d='M3360 1101 c-7 -13 -7 -22 0 -26 5 -3 10 -2 10 4 0 5 10 12 23 14 21%0A4 21 4 -3 6 -20 1 -22 3 -10 11 9 6 10 10 3 10 -7 0 -17 -9 -23 -19z'/%3E%3Cpath d='M3418 1113 c7 -3 16 -2 19 1 4 3 -2 6 -13 5 -11 0 -14 -3 -6 -6z'/%3E%3Cpath d='M3458 1113 c7 -3 16 -2 19 1 4 3 -2 6 -13 5 -11 0 -14 -3 -6 -6z'/%3E%3Cpath d='M3495 1110 c-3 -5 -16 -11 -28 -11 -17 -1 -18 -2 -4 -6 9 -2 17 -9%0A17 -14 0 -6 5 -7 10 -4 6 4 8 11 5 16 -4 5 4 13 17 18 16 7 18 10 6 10 -9 1%0A-20 -3 -23 -9z'/%3E%3Cpath d='M3375 1030 c-4 -6 11 -10 39 -10 25 0 48 5 51 10 4 6 -11 10 -39 10%0A-25 0 -48 -4 -51 -10z'/%3E%3Cpath d='M3376 127 c-26 -19 -17 -52 14 -52 18 0 26 6 28 21 4 30 -20 47 -42%0A31z'/%3E%3C/g%3E%3C/svg%3E%0A") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  color: #1a1c22;
  width: auto !important;
  height: 100% !important;
  margin-bottom: 20% !important;
  margin-top: 10% !important;
}

.editor-group-watermark {
  max-height: 75vh !important;
}

.tab.tab-actions-right.sizing-fit.has-icon.active.selected.tab-border-top {
  --tab-border-top-color: none !important;
  border-radius: 5px !important;
}

.monaco-editor .scroll-decoration {
  box-shadow: none !important;
}
